/* style.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #fafafa;
}

th a:link, th a:visited, th a:hover, th a:active {
    color: 	#008B8B;
}

.jumbotron {
    border-radius: 0;
}

